<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Add Supplier</nb-card-header>
      <nb-card-body>
        <form>
        <div class="row" >
        <div class="col-sm-6">
            <div class="form-group">
              <label for="sname" class="col-sm-3 col-form-label">Name</label>
              <input type="text" class="form-control" id="sname" placeholder="Supplier Name">
            </div>
          </div>
        </div>
        <div class="row" >
          <div class="col-sm-6">
            <div class="form-group">
              <label for="address" class="col-sm-3 col-form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Address">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="cnumber" class="col-sm-3 col-form-label">Contact Number</label>
              <input type="number" class="form-control" id="cnumber" placeholder="Contact Number">
            </div>
          </div>
        </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>