<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Add Supplier</nb-card-header>
      <nb-card-body>
        <form>
           <div class="row" >
        <div class="col-sm-6">
            <div class="form-group" style="min-width:100%">
              <label for="sname" class="col-sm-3 col-form-label" style="min-width:100%">Company Name</label>
              <input type="text" class="form-control" id="sname" placeholder="Company Name">
            </div>
          </div>
            <div class="col-sm-6">
            <div class="form-group" style="min-width:100%">
              <label for="sname" class="col-sm-3 col-form-label" style="min-width:100%">Agency Name</label>
              <input type="text" class="form-control" id="sname" placeholder="Agency Name">
            </div>
          </div>
        </div>
        <div class="row" >
        <div class="col-sm-6">
            <div class="form-group">
              <label for="sname" class="col-sm-3 col-form-label">First Name</label>
              <input type="text" class="form-control" id="sname" placeholder="First Name">
            </div>
               <div class="form-group">
              <label for="sname" class="col-sm-3 col-form-label">Last Name</label>
              <input type="text" class="form-control" id="sname" placeholder="Last Name">
            </div>
          </div>
        </div>
        </div>
        <div class="row" >
          <div class="col-sm-6">
            <div class="form-group">
              <label for="address" class="col-sm-3 col-form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Address">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" style="min-width:100%">
              <label for="cnumber" class="col-sm-3 col-form-label" style="min-width:100%">Contact Number</label>
              <input type="number" class="form-control" id="cnumber" placeholder="Contact Number">
            </div>
             <div class="form-group" style="min-width:100%">
              <label for="cemail" class="col-sm-3 col-form-label" style="min-width:100%">Email</label>
              <input type="text" class="form-control" id="cemail" placeholder="Email">
            </div>
          </div>
        </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>