<div class="row">
  <div class="col-md-12">
    <nb-card>
       <nb-card-header>Sales</nb-card-header>
       <!-- PART NAME PO NO SITE NAME NO  OF ITEMS  QTY UNIT PRICE  DATE -->
      <nb-card-body>
        <form>
        <div class="row" >          
          <div class="col-sm-6">
            <div class="form-group">
              <label for="partName" class="col-sm-3 col-form-label">Part Name</label>
              <input type="text" class="form-control" id="partName" placeholder="Part Name">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="poNo" class="col-sm-3 col-form-label">Po No</label>
              <input type="text" class="form-control" id="poNo" placeholder="Po No">
            </div>
          </div>
        </div>
        
        <div class="row" >
          <div class="col-sm-6">
            <div class="form-group">
              <label for="siteName" class="col-sm-3 col-form-label">Site Name</label>
              <input type="text" class="form-control" id="siteName" placeholder="Site Name">
            </div>
          
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="noOfItems" class="col-sm-3 col-form-label">No Of Items</label>
              <input type="number" class="form-control" id="noOfItems" placeholder="No Of Items">
            </div>
          </div>
        </div>
        
        <div class="row" >
          <div class="col-sm-6">
            <div class="form-group">
              <label for="qty" class="col-sm-3 col-form-label" >Quantity</label>
              <input type="number" class="form-control" placeholder="Quantity" id="qty" >
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="date" class="col-sm-3 col-form-label" >Date</label>
              <input type="text" class="form-control" placeholder="Date" id="date" >
            </div>
          </div>
        </div>

          <div class="row">
          <div class="col-sm-6">
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>