<div class="row">
  <div class="col-md-12">
    <nb-card>
       <nb-card-header>Sales</nb-card-header>
      
       <!-- PART NAME PO NO SITE NAME NO  OF ITEMS  QTY UNIT PRICE  DATE -->
      <nb-card-body>
        <div _ngcontent-c9="" class="row">
             <div _ngcontent-c14="" class="col-lg-5">
             <label for="site" class="col-sm-3 col-form-label">Search</label>
         <input #search class="form-control" type="text" accesskey="t" placeholder="Type Part Name or Part Number" (keydown.enter)="onSearch(search.value)" >
             </div>
                <!--<div _ngcontent-c14="" class="col-lg-4">
          <label for="site" class="col-sm-3 col-form-label" style="min-width:150px">Search By</label>
         <select _ngcontent-c9="" class="form-control" id="searchFilter" >
                            <option _ngcontent-c9="">Part Name</option>
                            <option _ngcontent-c9="">Part Number</option>
                            
                                                   </select>
                </div>-->
                 <div _ngcontent-c14="" class="col-lg-2">
                    <label for="customerId" class="col-sm-3 col-form-label"></label>
          <button _ngcontent-c24="" class="btn btn-success btn-round btn-demo form-control">New Item</button>
                </div>
        </div>

        <div _ngcontent-c9="" class="row">
              <div _ngcontent-c14="" class="col-lg-6">
               <label for="site" class="col-sm-3 col-form-label">Site</label>
         <input #site class="form-control" type="text" accesskey="s" placeholder="Site"  style="min-width:250px" >
              </div>
              <div _ngcontent-c14="" class="col-lg-6">
         <label for="site" class="col-sm-3 col-form-label">Po. Number</label>
         <input #site class="form-control" type="text" accesskey="s" placeholder="Po.Number"  style="min-width:250px" >
              </div>
        </div>
             <div _ngcontent-c9="" class="row">
              <div _ngcontent-c14="" class="col-lg-6">
               <label for="customerId" class="col-sm-3 col-form-label">Customer</label>
         <input #site class="form-control" type="text" accesskey="s" placeholder="Customer"  style="min-width:250px" >
              </div>
              <div _ngcontent-c14="" class="col-lg-2" style="min-width:75px">
      <label for="customerId" class="col-sm-3 col-form-label"></label>
        <button _ngcontent-c24="" class="form-control btn btn-success btn-round btn-demo " style="min-width:75px">New Customer</button>
              </div>
        </div>
       
      </nb-card-body>
    </nb-card>
<div _ngcontent-c14="" class="col-lg-11">
        <nb-card>
            
       <!-- PART NAME PO NO SITE NAME NO  OF ITEMS  QTY UNIT PRICE  DATE -->
      <nb-card-body style="padding:0px">
      <!--<ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>-->
     <data-table
    [items]="this.data"
  
  

    [pagination]="false"
    [indexColumn]="false"
    [selectColumn]="false"
    [multiSelect]="false"
    [rowColors]="rowColors"
    >
    <data-table-column
      property="partNo"
      header="Part Number"
      sortable="true">
      <!--<ng-template #dataTableCell let-item="item">
        <input type="number" [(ngModel)]="item.partNo" class="form-control input-sm" style="width: 75px"/>
      </ng-template>-->
    </data-table-column>
    <data-table-column
      property="partName"
      header="Part Name">
    </data-table-column>
    <data-table-column
      property="noOfItems"
      header="No of Items">
          <!--<ng-template #dataTableCell let-item="item">
        <input type="number" accesskey="s"  [(ngModel)]="item.noOfItems" class="form-control input-sm" style="width: 75px"/>
      </ng-template>-->
    </data-table-column>
    <data-table-column
      property="quantity"
      header="Quantity">
       <ng-template #dataTableCell let-item="item">
        <input type="number" accesskey="s"  [(ngModel)]="item.quantity" class="form-control input-sm" style="width: 75px"/>
      </ng-template>
     
    </data-table-column>
       <data-table-column
      property="hsnCode"
      header="HSN Code">
            
    </data-table-column>
            <data-table-column
      property="supplier"
      header="Supplier">
         <ng-template #dataTableCell let-item="item">
        <!--<input type="string" accesskey="s"  [(ngModel)]="item.supplier" class="form-control input-sm" style="width: 120px"/>-->
      <select (change)="supplierSelected(item)" class="form-control input-sm">
        <option value="sp1">supplier1</option>
        <option value="sp2">supplier2</option>
        <option value="sp3">supplier3</option>
      </select>
      </ng-template>
    </data-table-column>
                <data-table-column
      property="location"
      header="Location">
         <ng-template #dataTableCell let-item="item">
        <!--<input type="string" accesskey="s"  [(ngModel)]="item.supplier" class="form-control input-sm" style="width: 120px"/>-->
      <select class="form-control input-sm">
        <option value="sp1">location1</option>
        <option value="sp2">location2</option>
        <option value="sp3">location3</option>
      </select>
      </ng-template>
    </data-table-column>
        <data-table-column
      property="price"
      header="Unit Price($)">
             <ng-template #dataTableCell let-item="item">
        <input type="string" accesskey="p" [(ngModel)]="item.price" class="form-control input-sm" style="width: 75px"/>
      </ng-template>
    </data-table-column>
    <data-table-column
      header="Actions">
      <template #dataTableHeader let-item="item">
        <i>Actions</i>
      </template>
      <template #dataTableCell let-item="item">
        <button (click)="carClicked(item)" class="btn btn-sm btn-default">Remove</button>
      </template>
    </data-table-column>
  </data-table>

      </nb-card-body>
    </nb-card>
</div>
<div _ngcontent-c15="" class="col-lg-4">
  <nb-card>
    <nb-card-body>
       <label for="site" class="col-sm-3 col-form-label">Total:</label>
        <label for="site" class="col-sm-3 col-form-label">{{this.getTotal()}}</label>
       <div _ngcontent-c9="" class="row">
              <div _ngcontent-c14="" class="col-lg-6">
               <label for="amountTendered" class="col-sm-3 col-form-label">Amount Tendered</label>
         <input #site class="form-control" type="text" accesskey="s" placeholder="Amount Tendered"  style="min-width:250px" >
              </div>
             

        </div>
<div _ngcontent-c9="" class="row">
   <div _ngcontent-c14="" class="col-lg-6" >
      <label for="customerId" class="col-sm-3 col-form-label"></label>
        <button _ngcontent-c24="" class="form-control btn btn-success btn-round btn-demo " style="min-width:75px">Complete</button>
              </div>
</div>
      
     </nb-card-body>
    </nb-card>
</div>
  
 
  </div>
</div>